.shopping-cart {
  display: flex;
  width: 8.7rem;
  justify-content: center;
  align-items: center;
  position: relative;

  &--open {
    background: color('white');
    position: relative;
  }

  &__items {
    position: absolute;
    z-index: 1;
    top: 100%;
    right: 0;
    width: 100vw;
    max-height: calc(100vh - 7rem);
    overflow: auto;
    background: color('white');
  }

  &__inner {
    padding: 1.8rem;
  }

  &__badge {
    width: 2.4rem;
    height: 2.4rem;
    background-color: color('yellow');
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    line-height: 2.4rem;
    text-align: center;
    right: 1rem;
  }

  &-item {
    display: flex;
    flex-flow: row;
    border-bottom: solid 1px color('lightest-grey');
    align-items: center;

    &__image {
      display: none;
      width: 10rem;
      padding: 1rem;
    }

    &__info {
      padding: 1.3rem 1rem;
    }

    &__price {
      display: flex;
      height: 4.7rem;
      padding: 0 1.2rem;
      border-left: solid 1px color('lightest-grey');
      align-items: center;
    }

    &__quantity {
      margin-top: 1rem;
    }

    &__remove {
      padding-right: 1rem;
    }
  }

  &__title {
    line-height: 4rem;
    padding-left: 1.3rem;
    border-bottom: solid 1px color('lightest-grey');
  }
}
